@{
    var user = Session["USER"] as Model.EF.User;
    var manage = Session["MANAGE"] as string;
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE | SD Store</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Assets/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/css/_all-skins.min.css">
    <link rel="icon" href="~/Image/logo_transparent.png">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        label.error {
            color: red;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini" style="background-color: #c8d6e5;">

    <!-- jQuery 3 -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Assets/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Assets/js/additional-methods.js"></script>
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            @if (user.roleID.Equals("R1"))
            {
                <a href="/Admin/ManageCustomer/Index" class="logo">
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Admin</b> &lowast;  SD Store</span>
                </a>
            }
            else
            {
                <a href="/Home/Index" class="logo">
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>SD Store</b></span>
                </a>
            }
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- User Account: style can be found in dropdown.less -->
                        <!--  Welcome at here-->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@user.avatar" class="user-image" alt="User Image">
                                <span class="hidden-xs">@user.fullName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@user.avatar" class="img-circle" alt="User Image">
                                    <p>
                                        @user.fullName
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/Profile/Index" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Signout/Index" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->

                    </ul>
                </div>
            </nav>
        </header>
        <!-- End header -->
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@user.avatar" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@user.fullName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="/Home/Index">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    @if (user.roleID.Equals("R1"))
                    {
                        <li class="treeview active">
                            <a href="#">
                                <i class="fa fa-table"></i> <span>Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                @if (manage.Equals("Customer"))
                                {
                                    <li class="active"><a href="/Admin/ManageCustomer/Index"><i class="fa fa-circle-o"></i>Customer</a></li>
                                }
                                else
                                {
                                    <li><a href="/Admin/ManageCustomer/Index"><i class="fa fa-circle-o"></i>Customer</a></li>
                                }
                                @if (manage.Equals("Mobile"))
                                {
                                    <li class="active"><a href="/Admin/ManageMobile/Index"><i class="fa fa-circle-o"></i>Mobile</a></li>
                                }
                                else
                                {
                                    <li><a href="/Admin/ManageMobile/Index"><i class="fa fa-circle-o"></i>Mobile</a></li>
                                }
                                @if (manage.Equals("Order"))
                                {
                                    <li class="active"><a href="/Admin/ManageOrder/Index"><i class="fa fa-circle-o"></i>Order</a></li>
                                }
                                else
                                {
                                    <li><a href="/Admin/ManageOrder/Index"><i class="fa fa-circle-o"></i>Order</a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        @RenderBody()
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.0
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="#">Son Map</a>.</strong> All rights reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/js/demo.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
</body>

